header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem;
  border-bottom: 1px solid #fff;
}

header h1 {
  font-size: 1.5em;
  cursor: pointer;
}

nav {
  display: flex;
  gap: 0.5rem;
  padding-left: 2rem;
  margin-top: 1rem;
}

.links {
  display: flex;
  gap: 1rem;
}

.link:hover {
  cursor: pointer;
  font-weight: bold;
}

main {
  width: 100%;
  height: fit-content;
  padding: 2rem;
  
}

main h1 {
  font-weight: lighter;
  margin-bottom: 1rem;
}

footer {
  padding: 1rem;
}

/* classes dinâmicas */

.selected {
  font-weight: bold;
}