.blue {
    background-color: #a1c6d3;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 25em;
    padding: 1rem 0rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0px 1px 4px 0px #00000036;
}

.profilePicture {
    width: 10rem;
    height: 10rem;
    margin-bottom: 1rem;
    border-radius: 50%;
    box-shadow: 0px 1px 4px 0px #00000036;
    overflow: hidden;
}

.followButton {
    margin-left: 1rem;
    padding: .125rem .5rem;
}

.profilePicture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}