.card {
    display: flex;
    gap: 3rem;
    max-width: 98%;
    height: 28rem;
    padding: 4rem;
    font-family: sans-serif;
    background-color: #D6E1E6; 
    border-radius: 1rem;
}

.card img {
    max-width: 15rem;
    border: 0.5rem solid #111110;
}

.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 30rem;
    min-width: 20rem;
    height: 90%;
}

.cardContent p {
    font-size: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


